{% extends "base.html" %}
{% load static %}

<!-- set active nav link -->
{% block perfil %} active {% endblock %}

{% block content %}

	<!-- banner -->
	<div class="banner_w3lspvt-2">
		<ol class="breadcrumb">
			<li class="breadcrumb-i.name"><a href="{% url 'url_home' %}" class="font-weight-bold">Home</a></li>
			<li class="breadcrumb-i.name ml-1" aria-current="page">Mudar senha</li>
		</ol>
	</div>
		<!-- //banner -->

	<!-- //main banner -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 m-auto security">
            <div class="contact-top1">
                <form class="contact-wthree-do" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="mb-2">
                            <label>
                                Nova senha
                            </label>
                            <input class="form-control" type="password" placeholder="8 ou mais digitos" name="password1" required>
                        </div>
                        <div class="mb-2">
                            <label>
                                Repita a senha
                            </label>
                            <input class="form-control" type="password" placeholder="8 ou mais digitos" name="password2" required>
                        </div>
                    </div>
                    <div class="d-flex subscribe-wthree-field my-5">
                        <button type="submit" class="btn mybtn m-auto">Alterar senha</button> 
                    </div>
                    {{ form.errors }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}