{% load static %}

<!--
Autor: Emanuel Nzinga Maimona
E-mail: emanuelmaimona.com
-->

<!doctype html>
<html lang="pt">
  <head>
      <!-- Meta tag Keywords -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="HemoAngola, Doe sangue, salve vidas" />
    <meta name="author" content="Emanuel Nzinga Maimona">
    <title>HemoAngola</title>

    <script src="{% static 'js/jquery.js' %}"></script>
	  <script src="{% static 'js/sweetalert.min.js' %}"></script>



    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="all" />
	    <!-- Style-CSS -->
    
    <!-- Font-Awesome-Icons-CSS -->
    <link href="{% static 'css/font-awesome.min.css' %} " rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <style>
      #logo a{
        margin-bottom: 35px;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      @media (min-width: 320px){
        #logo a{
          font-size: 3rem;
        }
      }

      @media (max-width: 320px){
        #logo a{
          font-size: 1em;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">

  </head>
  <body class="text-center">
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <div id="logo" class="py-5">
            <h1><a href="/" ><span class="fa fa-heartbeat mr-2"></span>HemoAngola</a></h1>
				</div>
       
        <label for="inputText" class="sr-only">Nome de usuario</label>
        <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text"> 
                <span class="fa fa-user"></span> 
              </div>
            </div>
        <input type="text" id="inputText" class="form-control" name="username" placeholder="login" required autofocus>
        </div>  
        <label for="inputPassword" class="sr-only">Senha</label>

        <div class="input-group" >
            <div class="input-group-prepend" >
              <div class="input-group-text" style="height: 46px; padding-right: 13px;"> 
                <span class="fa fa-lock"></span> 
              </div>
            </div>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="senha" required>
        </div> 

        <a class="h5 esconde" href="{% url 'password_reset' %}" >Esqueci a senha</a>

        <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" style="color: #FFF; background-color: rgba(0, 124, 164, 0.8); border-color: inherit; font-weight: bold;">Entrar</button>
        <a class="btn btn-lg alert-success btn-block" href="{% url 'url_regist' %}" style="font-weight: 500;">Criar uma conta</a>

        {% for m in messages %}
          <p id="messages" class="esconde">{{m}}</p>
           <script>
            if($('#messages').text() === "error_login"){
              swal({
                title: "Erro!",
                text: "Nome de usuário ou senha incorretos!",
                icon: "error",
              });
              $('#messages').text("")
            } else if($('#messages').text() === "senha"){
              swal({
                title: "Senha alterada com sucesso!",
                icon: "success",
              });
              $('#messages').text("")
            }
          </script>
        {% endfor %}
       
        <!-- copyright -->
        <p class="mt-5 mb-3 text-muted">© 2021 HemoAngola. Todos os direitos reservados</p>
        
    </form>


</body>
</html>
